@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Myriad-Pro";

  src: url("../font/Myriad-Pro/MyriadPro-Regular.woff2") format("woff2"),
  url("../font/Myriad-Pro/MyriadPro-Regular.woff") format("woff"),
  url("../font/Myriad-Pro/MyriadPro-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins-Regular";

  src: url("../font/Poppins/Poppins-Regular.woff2") format("woff2"),
  url("../font/Poppins/Poppins-Regular.woff") format("woff"),
  url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins-Medium";

  src: url("../font/Poppins/Poppins-Medium.woff2") format("woff2"),
  url("../font/Poppins/Poppins-Medium.woff") format("woff"),
  url("../font/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Rubik-Light";

  src: url("../font/Rubik/Rubik-Light.woff2") format("woff2"),
  url("../font/Rubik/Rubik-Light.woff") format("woff"),
  url("../font/Rubik/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Rubik-Medium";

  src: url("../font/Rubik/Rubik-Medium.woff2") format("woff2"),
  url("../font/Rubik/Rubik-Medium.woff") format("woff"),
  url("../font/Rubik/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Rubik-Regular";

  src: url("../font/Rubik/Rubik-Regular.woff2") format("woff2"),
  url("../font/Rubik/Rubik-Regular.woff") format("woff"),
  url("../font/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Source-Sans-Pro";

  src: url("../font/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2"),
  url("../font/SourceSansPro/SourceSansPro-Regular.woff") format("woff"),
  url("../font/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
}


html,
body {
  box-sizing: border-box;
}

body {
  position: relative;

  width: 1920px;
  margin: 0;
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  font-family: "Rubik-Regular", sans-serif;
}

.header {
  position: relative;

  min-height: 1302px;
  margin: 0 auto;
  margin-bottom: 77px;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/header/Ellipse.png),
  url(../img/header/Img-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom 30px left 0, top left;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 96px;
  padding-top: 34px;
}

.nav__items {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__items li:not(:last-child) {
  padding-right: 15px;
}

.nav__click {
  position: relative;

  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.nav__click::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 0;
  height: 2px;

  border-top: 2px dashed #ffffff;

  transition: 0.7s;
}

.nav__click:hover:before,
.nav__click--active::before {
  width: 100%;
}

.header__content {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.header__content::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;

  width: 45px;
  height: 67px;

  background-image: url(../img/header/mouse-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.header__text {
  position: relative;

  margin-top: 251px;

  text-align: center;
}

.header__img {
  width: 629px;
  height: 802px;
}

.header__title {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  font-weight: 500;
  font-size: 60px;
  line-height: 65px;
  font-family: "Rubik-Medium";
  color: #ffffff;
  letter-spacing: -1.5px;
}

.header__desc {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  padding: 0 18px;

  line-height: 28px;
  color: #ffffff;
}

.header__download {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  padding: 11px 10px;

  font-weight: 500;
  font-size: 15px;
  font-family: "Rubik-Medium";
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.header__link:hover {
  color: #ffffff;

  background: linear-gradient(90deg, rgba(119,181,116,1) 0%, rgba(53,156,180,1) 100%);
}

.header__text--small {
  position: relative;

  margin: 0;
  padding: 0;
  padding-right: 7px;

  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  font-family: "Rubik-Medium";
  color: #ffffff;
  text-transform: uppercase;
}

.header__profession {
  display: flex;
}

.header__profession-block {
  width: 390px;
  height: 264px;
  padding: 0 55px;

  background-color: #ffffff;
  box-shadow: 0 0 9px rgba(73, 73, 73, 0.4);
}

.header__profession-title {
  margin: 0;
  margin-top: 58px;
  margin-bottom: 26px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: "Rubik-Medium";
  color: #000000;
}

.header__profession-subtitle {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  line-height: 26px;
  color: #585858;
}

.header__profession-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  font-family: "Rubik-Medium";
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.header__social {
  position: absolute;
  top: 25%;
  right: 10%;

  display: flex;
  flex-direction: column;
}

.social-content-link:not(:last-child) {
  margin-bottom: 30px;
}

.social-content-link svg:hover path {
  fill: #ffffff;
}

.social-content-link::before {
  content: "";
  position: absolute;
  left: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: "Rubik-Medium";
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;

  opacity: 0;

  transition: 2s all;
}

.social-facebook:hover::before {
  content: "facebook";

  opacity: 1;
}

.social-twitter:hover::before {
  content: "twitter";

  opacity: 1;
}

.social-dribbble:hover::before {
  content: "dribbble";

  opacity: 1;
}

.social-behance:hover::before {
  content: "behance";

  opacity: 1;
}

.social-pinterest:hover::before {
  content: "pinterest";

  opacity: 1;
}

/* ---------------- END HEADER ------------------------- */
/* ---------------- START SECTION (ABOUT-ME) ------------------------- */

.about-me {
  position: relative;

  min-height: 717px;

  background-image: url(../img/block-1/Square.png),
  url(../img/block-1/Point.png),
  url(../img/block-1/Ellipse.png);
  background-repeat: no-repeat;
  background-position: left bottom, left 55% top 20px, left 65% bottom 5%;
  background-size: 657px 640px, 22px 22px, 93px 93px;
}

.about-me__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 178px;
}

.about-me__inner img {
  margin-right: 71px;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  font-family: "Rubik-Medium";
  color: #000000;
}

.about-me__subtitle {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  line-height: 26px;
  color: #585858;
}

.about-me__subtitle--size {
  margin-bottom: 37px;
}

.about-me__content a {
  text-decoration: none;
}

.about-me__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.about-me__link {
  margin: 0;
  margin-right: 5px;
  padding: 0;
  padding: 11px 13px;

  font-size: 15px;
  line-height: 25px;
  color: #ffffff;

  background-color: #000000;
}

.about-me__desc {
  margin: 0;
  margin-right: 5px;
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  font-family: "Rubik-Medium";
  color: #000000;
}

/* ---------------- END SECTION (ABOUT-ME) ------------------------- */
/* ---------------- START SECTION (Services I Provide..) ------------------------- */
