@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Myriad-Pro";

  src: url("../font/Myriad-Pro/MyriadPro-Regular.woff2") format("woff2"),
  url("../font/Myriad-Pro/MyriadPro-Regular.woff") format("woff"),
  url("../font/Myriad-Pro/MyriadPro-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins-Regular";

  src: url("../font/Poppins/Poppins-Regular.woff2") format("woff2"),
  url("../font/Poppins/Poppins-Regular.woff") format("woff"),
  url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins-Medium";

  src: url("../font/Poppins/Poppins-Medium.woff2") format("woff2"),
  url("../font/Poppins/Poppins-Medium.woff") format("woff"),
  url("../font/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Rubik-Light";

  src: url("../font/Rubik/Rubik-Light.woff2") format("woff2"),
  url("../font/Rubik/Rubik-Light.woff") format("woff"),
  url("../font/Rubik/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Rubik-Medium";

  src: url("../font/Rubik/Rubik-Medium.woff2") format("woff2"),
  url("../font/Rubik/Rubik-Medium.woff") format("woff"),
  url("../font/Rubik/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Rubik-Regular";

  src: url("../font/Rubik/Rubik-Regular.woff2") format("woff2"),
  url("../font/Rubik/Rubik-Regular.woff") format("woff"),
  url("../font/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Source-Sans-Pro";

  src: url("../font/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2"),
  url("../font/SourceSansPro/SourceSansPro-Regular.woff") format("woff"),
  url("../font/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
}


html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;

  width: 1920px;
  margin: 0;
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  font-family: "Rubik-Regular", sans-serif;
}

.header {
  position: relative;

  min-height: 1302px;
  margin: 0 auto;
  margin-bottom: 77px;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/header/Ellipse.png),
  url(../img/header/Img-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom 30px left 0, top left;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 96px;
  padding-top: 34px;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__items li:not(:last-child) {
  padding-right: 15px;
}

.nav__click {
  position: relative;

  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.nav__click::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 0;
  height: 2px;

  border-top: 2px dashed #ffffff;

  -webkit-transition: 0.7s;
       -o-transition: 0.7s;
          transition: 0.7s;
}

.nav__click:hover:before,
.nav__click--active::before {
  width: 100%;
}

.header__content {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__content::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;

  width: 45px;
  height: 67px;

  background-image: url(../img/header/mouse-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.header__text {
  position: relative;

  margin-top: 251px;

  text-align: center;
}

.header__img {
  width: 629px;
  height: 802px;
}

.header__title {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  font-weight: 500;
  font-size: 60px;
  line-height: 65px;
  font-family: "Rubik-Medium";
  color: #ffffff;
  letter-spacing: -1.5px;
}

.header__desc {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  padding: 0 18px;

  line-height: 28px;
  color: #ffffff;
}

.header__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link {
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  padding: 11px 10px;

  font-weight: 500;
  font-size: 15px;
  font-family: "Rubik-Medium";
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.header__link:hover {
  color: #ffffff;

  background: -webkit-gradient(linear, left top, right top, from(rgba(119,181,116,1)), to(rgba(53,156,180,1)));
  background: -o-linear-gradient(left, rgba(119,181,116,1) 0%, rgba(53,156,180,1) 100%);
  background:    linear-gradient(90deg, rgba(119,181,116,1) 0%, rgba(53,156,180,1) 100%);
}

.header__text--small {
  position: relative;

  margin: 0;
  padding: 0;
  padding-right: 7px;

  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  font-family: "Rubik-Medium";
  color: #ffffff;
  text-transform: uppercase;
}

.header__profession {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__profession-block {
  width: 390px;
  height: 264px;
  padding: 0 55px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 9px rgba(73, 73, 73, 0.4);
          box-shadow: 0 0 9px rgba(73, 73, 73, 0.4);
}

.header__profession-title {
  margin: 0;
  margin-top: 58px;
  margin-bottom: 26px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: "Rubik-Medium";
  color: #000000;
}

.header__profession-subtitle {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  line-height: 26px;
  color: #585858;
}

.header__profession-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  font-family: "Rubik-Medium";
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.header__social {
  position: absolute;
  top: 25%;
  right: 10%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.social-content-link:not(:last-child) {
  margin-bottom: 30px;
}

.social-content-link svg:hover path {
  fill: #ffffff;
}

.social-content-link::before {
  content: "";
  position: absolute;
  left: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: "Rubik-Medium";
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;

  opacity: 0;

  -webkit-transition: 2s all;
       -o-transition: 2s all;
          transition: 2s all;
}

.social-facebook:hover::before {
  content: "facebook";

  opacity: 1;
}

.social-twitter:hover::before {
  content: "twitter";

  opacity: 1;
}

.social-dribbble:hover::before {
  content: "dribbble";

  opacity: 1;
}

.social-behance:hover::before {
  content: "behance";

  opacity: 1;
}

.social-pinterest:hover::before {
  content: "pinterest";

  opacity: 1;
}

/* ---------------- END HEADER ------------------------- */
/* ---------------- START SECTION (ABOUT-ME) ------------------------- */

.about-me {
  position: relative;

  min-height: 640px;
  margin-bottom: 100px;

  background-image: url(../img/block-1/Square.png),
  url(../img/block-1/Point.png),
  url(../img/block-1/Ellipse.png);
  background-repeat: no-repeat;
  background-position: left top, left 57% top 0, left 65% bottom 5%;
  background-size: 657px 640px, 22px 22px, 93px 93px;
}

.about-me__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px;
}

.about-me__inner img {
  margin-right: 71px;
}

.about-me__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-me__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  font-family: "Rubik-Medium";
  color: #000000;
}

.about-me__subtitle {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  line-height: 26px;
  color: #585858;
}

.about-me__subtitle--size {
  margin-bottom: 37px;
}

.about-me__content a {
  text-decoration: none;
}

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-me__link {
  margin: 0;
  margin-right: 5px;
  padding: 0;
  padding: 11px 13px;

  font-size: 15px;
  line-height: 25px;
  color: #ffffff;

  background-color: #000000;
}

.about-me__desc {
  margin: 0;
  margin-right: 5px;
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  font-family: "Rubik-Medium";
  color: #000000;
}

/* ---------------- END SECTION (ABOUT-ME) ------------------------- */
/* ---------------- START SECTION (Services I Provide..) ------------------------- */

.services {
  margin-bottom: 127px;

  background-image: url(../img/block-2/Shape.png);
  background-repeat: no-repeat;
  background-position: top 228px right 109px;
  background-size: auto;
}

.services__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-weight: 500;
  font-size: 30px;
  font-family: "Rubik-Medium";
  text-align: center;
  color: #111111;
  letter-spacing: 0.6px;
}

.services__subtitle {
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
  padding: 0 370px;

  line-height: 26px;
  text-align: center;
  color: #262626;
  letter-spacing: 0.32px;
}

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__block {
  position: relative;

  width: 370px;
  margin-bottom: 30px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 9px rgba(73, 73, 73, 0.4);
          box-shadow: 0 0 9px rgba(73, 73, 73, 0.4);
}

.services__block::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;

  width: 41px;
  height: 35px;

  background-image: url(../img/block-2/Icon-comp.png);
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.block__title {
  margin: 0;
  margin-top: 84px;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  font-family: "Rubik-Medium";
  text-align: center;
  color: #222222;
  letter-spacing: -0.45px;
}

.block__subtitle {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding: 0 28px;

  line-height: 25px;
  text-align: center;
  color: #656565;
}

.services__block--color {
  background-color: #111111;
}

.services__block--color::before {
  content: "";

  background-image: url(../img/block-2/Icon-color.png);
}

.block__title--color {
  color: #ffffff;
}

.block__subtitle--color {
  color: #dcdcdc;
}


/* ---------------- END SSTART SECTION (Services I Provide..) ------------------------- */
/* ---------------- START SECTION (portfolio) ------------------------- */

.portfolio {
  background-color: #020202;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  padding-top: 100px;

  font-weight: 500;
  font-size: 36px;
  font-family: "Rubik-Medium";
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.72px;
}

.portfolio__subtitle {
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  padding: 0 360px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Poppins-Regular";
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.32px;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
}

.portfolio__items li:not(:last-child) {
  margin-right: 60px;
}

.portfolio__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-family: "Rubik-Medium";
  color: #ffffff;
  text-decoration: none;
}

.portfolio__link:hover,
.portfolio__link--color {
  color: #ffa801;
}

.portfolio__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 89px;
}

.portfolio__image-block a {
  margin-bottom: 30px;
}

.image-block--link {
  position: relative;
}

/* НАЧАЛО ЗАТЕМНЕНИЕ ПРИ :hover  */

.image-block--link:hover img {
  opacity: 0.7;
}

.image-block--link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  width: 72px;
  height: 42px;

  background-image: url(../img/block-3/Icon-binoculars.png);
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.image-block--link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  outline: 3px solid #ebebeb;
  outline-offset: -15px;
  opacity: 0;
}

.image-block--link:hover::before,
.image-block--link:hover:after {
  opacity: 1;
}

/* ----------------  КОНЕЦ ЗАТЕМНЕНИЕ ПРИ :hover --------------- */

/* ---------------- END SSTART SECTION (portfolio) ------------------------- */
/* ---------------- START SECTION (My News and Projects) ------------------------- */

.projects {
  background-image: url(../img/block-4/Shape_copy.png),
  url(../img/block-4/Rectangle_copy_2.png);
  background-repeat: no-repeat;
  background-position: left 5% top 90%, right 10% top 8%;
  background-size: auto;
}

.projects__title {
  margin: 0;
  margin-top: 135px;
  margin-bottom: 28px;
  padding: 0;

  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
  font-family: "Rubik-Medium";
  text-align: center;
  color: #060606;
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  padding: 0 310px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #6f6f6f;
}

.project-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 155px;
}

.project-inner__block-header {
  box-sizing: border-box;
  width: 470px;
  height: 570px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  padding: 8px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 7px #b9b9ba;
          box-shadow: 0 0 7px #b9b9ba;
}

.project-inner__text-contain {
  padding: 0 30px;
}

.project-items {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 15px;
  padding: 0;
}

.project-items li {
  position: relative;

  padding-right: 30px;
  padding-left: 25px;

  list-style: none;
}

.project-link {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Source-Sans-Pro";
  color: #858585;
  text-decoration: none;
}

.icon-man::before,
.icon-time::before,
.icon-calendar::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 17px;

  background-image: url(../img/block-4/004-man-user.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.icon-time::before {
  content: "";

  width: 18px;
  height: 17px;

  background-image: url(../img/block-4/005-time-left.png);
}

.icon-calendar::before {
  content: "";

  width: 17px;
  height: 17px;

  background-image: url(../img/block-4/calendar.png);
}

.project-link--size {
  text-transform: uppercase;
}

.project-text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-family: "Rubik-Medium";
  color: #565656;
}

.project-desc {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Rubik-Light";
  color: #7e7e7e;
}

.project-click {
  line-height: 15px;
  color: #444444;
  text-decoration: none;
}

.main__sector-one,
.main__sector-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  width: 670px;
  height: 270px;
  padding: 8px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 9px rgba(195, 195, 195, 0.26);
          box-shadow: 0 0 9px rgba(195, 195, 195, 0.26);
}

.main__sector-one {
  margin-bottom: 30px;
}

.project-inner__text-contain--main {
  margin-left: 30px;
}

.project-items--size {
  margin-top: 19px;
}


/* ---------------- END SSTART SECTION (My News and Projects) --------------------- */
/* ---------------- START SECTION (reviews) ------------------------- */

.reviews {
  min-height: 653px;

  background-color: #020202;
}

.reviews-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: auto;
  padding-top: 172px;
  padding-bottom: auto;

  background-color: rgba(117, 253, 117, 0.418);
}

.reviews-text {
  display: flex;
  flex-direction: column;

  vertical-align: middle;
  text-align: left;
}

.reviews__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 500;
  font-size: 30px;
  font-family: "Rubik-Medium";
  color: #ffffff;
  letter-spacing: 0.6px;
}

.reviews__subtitle {
  margin: 0;
  padding: 0;

  line-height: 26px;
  color: #949494;
  letter-spacing: 0.32px;
}

.reviews-slider {
  width: 570px;
  height: 296px;

  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #c3c0c0;
}
